<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Vue.js App</title>
</head>
<body>
  <div id="app">
    <!-- 条件分岐 -->
    <div v-if="ok">v-if条件による描画</div>
    <div v-show="ok">v-show条件による描画</div>
    <!-- templateタグでv-ifをグループ化 -->
    <template v-if="ok">
      <header>タイトル</header>
      <div>コンテンツ</div>
    </template>
    <!-- v-if, v-else-if, v-elseでグループ化 -->
    <div v-if="type === 'A'">
      type は A
    </div>
    <div v-else-if="type === 'B'">
      type は B
    </div>
    <div v-else>
      タイプはありません。
    </div>
    <div v-if="loaded" key="content-visible">
      content
    </div>
    <div v-else key="content-loading">
      loading now...
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main_if.js"></script>
</body>
</html>
