<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Vue.js App</title>
  <link rel="stylesheet" href="main02.css">
</head>
<body>
  <div id="app">
    <ul>
      <li v-for="item in list" v-bind:key="item.id">
        ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }}
      </li>
    </ul>
    <ul>
      <li v-for="(item, index, key) in list" v-bind:key="item.id">
        ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }}
      </li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main02.js"></script>
</body>
</html>
