<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Vue.js App</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.17.1/dist/axios.min.js"></script>
</head>
<body>
  <div id="app">
    <!-- DOMとして認識させるには、テンプレート名はケバブケースで記述する制約 -->
    <!-- <my-component></my-component>

    <component-child val="これは子A"></component-child>
    <component-child val="これは子B"></component-child>

    <component-child v-bind:val="valA"></component-child>
    <component-child v-bind:val="valB"></component-child>

    <component-child id="parent" class="parent"></component-child>

    <ul>
      <component-child v-for="item in list"
                       v-bind:key="item.id"
                       v-bind:name="item.name"
                       v-bind:hp="item.hp"
      >
      </component-child>
    </ul>

    <component-child v-on:childs-event="parentsMethod"></component-child>

    <component-child v-for="item in list"
                     v-bind="item"
                     v-bind:key="item.id"
                     v-on:attack="handleAttack"
    >
    </component-child>

    <component-child v-on:childs-event="parentMethods($event, parentsData)"></component-child>

    <component-child>
      <header slot="header">
        Hello, Vue.js!
      </header>
      Vue.jsはJavaScriptのフレームワークです。
    </component-child>

    <component-child>
      <p slot-scope="props">
        スロットから受け取ったtext -> {{ props.text }}
      </p>
    </component-child>

    <component-child>
      <li slot-scope="props">{{ props.item_name }}</li>
    </component-child>

    <my-calender v-on:input="date = $event" v-bind:value="date">
    </my-calender>
    <my-calender v-model="date"></my-calender> -->

    <my-component v-bind:name.sync="name"
                  v-bind:hp.sync="hp"
    >
    </my-component>

  </div>
  <script src="main.js"></script>
</body>
</html>
